---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi ! I'm "Stanley Dave Teherag" a devops engineer and infrastructure enthusiast
      <br>
      My primary skills in devops:
      <ul class="list-disc list-inside">
        <li role="link">Docker & Kubernetes</li>
        <li role="link">Ansible</li>
        <li role="link">Terraform</li>
        <li role="link">ArgoCD</li>
        <li role="link">Jenkins</li>
        <li role="link">AWS, GCP & Azure</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond infrastructure, I'm passionate about open source tools in CNCF and AI development.
    </p>
    <p class="text-sm font-light">
      While I do have my preferred tools, my ultimate objective is to select the most suitable one for the task at hand, regardless of whether it's within my usual repertoire. I am driven by the aim of discovering the optimal solution for each project.
    </p>
  </div>
</Card>
